/** Text */
$base-font-size: 16;
$font-family: sans-serif;

/** Layout */
$container-width: 1000px;
$padding: 30px;

/** Color */
$black: #263238;
$blue: #2196F3;
$dark-blue: #0D47A1;

$link-color: $blue;
$link-hover-color: $dark-blue;
$base-color: $black;

/** Buttons */
$button-border-radius: 3px;
$button-box-shadow: 0px 0px transparent;
$button-border-width: 2px;